<link rel="stylesheet" href="/css/home.css">

<div id="home-container">
    <section id="feed-students">
        <h3 class="home-heading">List of Students</h3>

        <p>
            <a href="/students/addStudent">Add a student</a>
        </p>

        <ul>
            <% for(student of students) { %>
                <li>
                    <p>Batch - <span>July</span></p>
                    <p>Name - <span>student.name</span></p>
                    <p>Staus - <span>student.status</span></p>

                    <a href="/students/show-details/<%= student.id %>">View details</a>
                    <a href="/students/edit-details/<%= student.id %>">Edit details</a>
                </li>
                <% } %>
        </ul>
    </section>

    <section id="feed-interviews">
        <h3 class="home-heading">List of Interviews</h3>

        <p>
            <a href="/interviews/addInterview">Add a interview</a>
        </p>

        <ul>
            <% for(interview of interviews) { %>
                <li>
                    <p>Name - <span>interview.name</span></p>
                    <p>Date - <span>interview.date</span></p>

                    <a href="/interviews/show-details/<%= student.id %>">View details</a>
                    <a href="/interviews/edit-details/<%= student.id %>">Edit details</a>
                </li>
                <% } %>
        </ul>
    </section>
</div>