<link rel="stylesheet" href="/css/details.css">
<link rel="icon" style="scale: 1;" type="image/x-icon" href="../images/favicon.ico">

<div class="form-signin w-50 m-auto">
    <div class="m-2 text-light" style="margin-top: 20px">
        <h2>Update Student details</h2>
    </div>

    <form action="/students/updateStudent/<%= student._id %>" method="POST">
        <div class="form-floating m-2">
            <input id="floatingInput" type="text" class="form-control" name="name" value="<%=student.name %>"
                required />
            <label for="floatingInput">Name</label>
        </div>
        <div class="form-floating m-2">
            <input id="floatingEmail" type="text" class="form-control" name="email" value="<%=student.email %>"
                required />
            <label for="floatingEmail">Email address</label>
        </div>
        <div class="form-floating m-2">
            <input id="floatingBatch" type="text" class="form-control" name="batch" value="<%=student.batch %>" required
                disabled />
            <label for="floatingBatch">Batch</label>
        </div>


        <div class="m-2 text-light" style="margin-top: 2.5rem !important">
            <h3>Add Interview</h3>
        </div>

        <div class="form-floating m-2">
            <input id="floatingInput" class="form-control" type="text" name="company_name" placeholder="Company name"
                required />
            <label for="floatingInput">Company Name</label>
        </div>

        <div class="form-floating m-2">
            <input id="floatingDate" type="date" class="form-control" name="interview_date" placeholder="Interview Date"
                required />
            <label for="floatingDate">Date</label>
        </div>

        <div class="form-floating m-2">
            <select class="form-input" name="status">
                <optgroup label="Status" placeholder="Status">
                    <option name="placed" value="Placed">Placed</option>
                    <option name="Not placed" value="Not Placed" selected>Not Placed</option>
                </optgroup>
            </select>
        </div>

        <div class="form-input m-2">
            <button class="w-100 btn btn-lg btn-primary " type="submit" value="Add Student">Update Details</button>
        </div>
        <div class="studentCardActions m-2 d-flex justify-content-end">
            <div>
                <a href="/">Back</a>
            </div>
        </div>
    </form>
</div>